<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.my_spring_app.web.mapper.UserMapper">
  
  <!-- 全ユーザー取得 -->
  <select id="findAll" resultType="User">
    SELECT * FROM test.users
  </select>
  
  <!-- ID指定ユーザー取得 -->
  <select id="findById" resultType="User">
    SELECT * FROM test.users WHERE id = #{param}
  </select>
  
  <!-- ユーザー追加 -->
  <insert id="insert" parameterType="User" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO test.users(id, name, email) 
    VALUES(nextval('test.users_id_seq')::VARCHAR, #{name}, #{email})
    RETURNING id
  </insert>
  
  <!-- ユーザー更新 -->
  <update id="update" parameterType="User">
    UPDATE test.users 
    SET name = #{name}, email = #{email} 
    WHERE id = #{id}
  </update>
  
  <!-- ユーザー削除 -->
  <delete id="delete">
    DELETE FROM test.users WHERE id = #{param}
  </delete>
  
</mapper>